<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- fel_formula表:公式配置,参数模块模块 -->
<mapper namespace="com.company.modules.fel.dao.FelFormulaDao">
	<!--返回MAP-->
	<resultMap id="felFormulaResult" type="felFormula">
		<id column="id" property="id" />
		<result column="chinese_name" property="chineseName" />
		<result column="english_name" property="englishName" />
		<result column="unit" property="unit" />
		<result column="data_source" property="dataSource" />
		<result column="formula_chinese" property="formulaChinese" />
		<result column="formula" property="formula" />
		<result column="note" property="note" />
		<result column="param_id" property="paramId" />
		<result column="create_date" property="createDate" />
		<result column="create_name" property="createName" />
		<result column="modify_date" property="modifyDate" />
		<result column="modify_name" property="modifyName" />
		<result column="state" property="state" />
		<result column="delete_state" property="deleteState" />
		<result column="nested_state" property="nestedState" />
		<result column="nested_formula" property="nestedFormula" />
		<result column="type_id" property="typeId" />
		<result column="formula_json" property="formulaJson" />
	</resultMap>

	<sql id="searchSql">
     	id,
		chinese_name,
		english_name,
		unit,
		data_source,
		formula_chinese,
		formula,
		note,
		param_id,
		create_date,
		create_name,
		modify_date,
		modify_name,
		state,
		delete_state,
		nested_state,
		nested_formula,
		type_id,
		formula_json
	</sql>

	<!-- 动态查询 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
             <if test="id!=null and id!='' ">
                 id in
				<foreach collection="id" item="k" open="(" separator="," close=")">
		 			${k}
				</foreach>
             </if>
             <if test="chineseName!=null and chineseName!='' ">
             	and chinese_name = #{chineseName}
             </if>
             <if test="englishName!=null and englishName!='' ">
             	and english_name = #{englishName}
             </if>
             <if test="unit!=null and unit!='' ">
             	and unit = #{unit}
             </if>
             <if test="dataSource!=null and dataSource!='' ">
             	and data_source = #{dataSource}
             </if>
             <if test="formulaChinese!=null and formulaChinese!='' ">
            	and formula_chinese = #{formulaChinese}
             </if>
             <if test="formula!=null and formula!='' ">
             	and formula = #{formula}
             </if>
             <if test="note!=null and note!='' ">
            	and note = #{note}
             </if>
             <if test="paramId!=null and paramId!='' ">
             	and param_id = #{paramId}
             </if>
             <if test="createDate!=null and createDate!='' ">
             	and create_date = #{createDate}
             </if>
             <if test="createName!=null and createName!='' ">
             	and create_name = #{createName}
             </if>
             <if test="modifyDate!=null and modifyDate!='' ">
             	and modify_date = #{modifyDate}
             </if>
             <if test="modifyName!=null and modifyName!='' ">
             	and modify_name = #{modifyName}
             </if>
             <if test="state!=null and state!='' ">
             	and state = #{state}
             </if>
             <if test="deleteState!=null and deleteState!='' ">
             	and delete_state = #{deleteState}
             </if>
             <if test="nestedState!=null and nestedState!='' ">
             	and nested_state = #{nestedState}
             </if>
             <if test="nestedFormula!=null and nestedFormula!='' ">
             	and nested_formula = #{nestedFormula}
             </if>
             <if test="typeId!=null and typeId!='' ">
             	and type_id = #{typeId}
             </if>
             <if test="formulaJson!=null and formulaJson!='' ">
             	and formula_json = #{formulaJson}
             </if>
		</trim>
	</sql>

    <!-- 动态更新 -->
    <sql id="updateByPo">
        <trim prefix="set" suffixOverrides=",">
            <if test="modifyDate!=null and modifyDate!='' ">
            	modify_date = #{modifyDate},
            </if>
            <if test="chineseName!=null and chineseName!='' ">
            	chinese_name = #{chineseName},
            </if>
            <if test="englishName!=null and englishName!='' ">
            	english_name = #{englishName},
            </if>
            <if test="unit!=null and unit!='' ">
            	unit = #{unit},
            </if>
            <if test="dataSource!=null and dataSource!='' ">
            	data_source = #{dataSource},
            </if>
            <if test="formulaChinese!=null and formulaChinese!='' ">
           	 	formula_chinese = #{formulaChinese},
            </if>
            <if test="formula!=null and formula!='' ">
            	formula = #{formula},
            </if>
            <if test="note!=null and note!='' ">
           		note = #{note},
            </if>
            <if test="paramId!=null and paramId!='' ">
            	param_id = #{paramId},
            </if>
            <if test="modifyName!=null and modifyName!='' ">
            	modify_name = #{modifyName},
            </if>
            <if test="state!=null and state!='' ">
            	state = #{state},
            </if>
            <if test="deleteState!=null and deleteState!='' ">
            	delete_state = #{deleteState},
            </if>
            <if test="nestedState!=null and nestedState!='' ">
            	nested_state = #{nestedState},
            </if>
            <if test="nestedFormula!=null and nestedFormula!='' ">
            	nested_formula = #{nestedFormula},
            </if>
            <if test="typeId!=null and typeId!='' ">
            	type_id = #{typeId},
            </if>
            <if test="formulaJson!=null and formulaJson!='' ">
            	formula_json = #{formulaJson}
            </if>
        </trim>
    </sql>

	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="felFormula">
		insert into fel_formula(
			chinese_name,
			english_name,
			unit,
			data_source,
			formula_chinese,
			formula,
			note,
			param_id,
			create_date,
			create_name,
			modify_date,
			modify_name,
			state,
			delete_state,
			nested_state,
			nested_formula,
			type_id,
			formula_json
        )values(
			#{chineseName},
			#{englishName},
			#{unit},
			#{dataSource},
			#{formulaChinese},
			#{formula},
			#{note},
			#{paramId},
			#{createDate},
			#{createName},
			#{modifyDate},
			#{modifyName},
			#{state},
			#{deleteState},
			#{nestedState},
			#{nestedFormula},
			#{typeId},
			#{formulaJson}
        )
        <selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

    <!-- 动态更新 -->
    <update id="update" parameterType="felFormula">
        update fel_formula
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

   <!-- 动态查询 -->
    <select id="getPageListByMap" parameterType="java.util.HashMap" resultMap="felFormulaResult">
        select * from fel_formula
        <include refid="searchByPo"/>
        order by id asc
    </select>

    <!-- 返回总数 -->
    <select id="getPageCountByMap" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from fel_formula
        <include refid="searchByPo"/>
    </select>

    <!--根据ID删除-->
    <delete id="delete" parameterType="int">
        delete from fel_formula
        where
        id  = #{id}
    </delete>

    <!-- 查询公式list-->
    <select id="Select" parameterType="felFormula" resultMap="felFormulaResult">

     	select * from fel_formula
      <include refid="searchByPo"/>
    </select>
    <!--查询公式item  -->
     <select id="SelectFelformula" parameterType="felFormula" resultMap="felFormulaResult">

     	select * from fel_formula
      where id=#{id}
    </select>

    <!--根据id查询公式  -->
     <select id="selectFormulaById" parameterType="String" resultMap="felFormulaResult">

     	select * from fel_formula
     	where id in (#{id})
    </select>

    <select id="SelectFelformulaByTypeAndId" parameterType="java.util.HashMap" resultMap="felFormulaResult">
    select * from fel_formula
     	where id in (#{id}) and type_id=#{typeId}
    </select>
</mapper>
