.*
target
!.gitignore
lib
/bin
/target
/src/main/webapp/FileDir
/src/main/webapp/WEB-INF/log
/src/main/webapp/WEB-INF/log/
/src/main/webapp/resources/contractfile/htmlfile
/src/main/webapp/resources/contractfile/pdffile
/*.bat
/target/
/lsk/
/*.iml
/src/main/webapp/react/
/src/main/webapp/react
/src/main/node_modules
config-setting.properties
/src/main/webapp/ueditor/jsp/upload
/src/main/webapp/images/CMSImage
/src/main/webapp/resources/img/manage
npm-debug.log
jsconfig.json
*.iml
*.project
.settings/
*.classpath