<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.modules.workflow.dao.RDZZTaskDao">
	<!--基本的sql查询字段 公共引用...-->
	<sql id="baseOritoConfirmationTaskSelectSql">
		pl_cc.create_time as declarationDate,
		task.ID_ as taskId,
		pl_cc.id as consultId,
		project.id as projectId,
		project.`code` as projectCode,
		project.project_name AS projectName,
		pl_b.account as account,
		pl_b.time_limit as timeLimit,
		process.process_instance_id as processInstanceId, 
		task.TASK_DEF_KEY_ as processStateCode,
		sdd.item_value as currentProcessStateCode,
		sdd.item_code as currentProcessItemCode,
		pl_cc.name as customerName,
  		assignee.name as executor,
  		pl_cc.business_origin as businessOrigin,
		pl_b.financial_advisers as financialAdvisers,
		CASE
           pl_b.project_belongs 
           WHEN 1 
           THEN '赚赚自有' 
           WHEN 2 
           THEN '报单机构' 
           WHEN 3 
           THEN '报单个人'
           ELSE ''	         
        END businessOriginText,/*来源*/ 
	    pl_b.institution_name as institutionName,/*机构名称*/ 
	    pl_b.salesman as customerManager,/*报单人*/ 
		manager.name as name,
		task.name_ as taskName
	</sql>
	
	<sql id="baseOritoConfirmationJoinSql">
		INNER JOIN pub_project_process as process on process.process_instance_id=task.PROC_INST_ID_ and process.process_type='0'
		INNER JOIN pub_project as project on project.id=process.project_id
		INNER JOIN pl_consult as pl_cc ON pl_cc.process_instance_id=process.process_instance_id
		INNER JOIN pl_borrow_requirement as pl_b ON pl_b.process_instance_id=process.process_instance_id
		INNER JOIN sys_role r on r.nid = task.DESCRIPTION_
		INNER JOIN sys_dict_detail as sdd on sdd.item_code = pl_cc.`status`
		INNER JOIN sys_user as assignee ON assignee.user_name = task.ASSIGNEE_
		INNER JOIN sys_user as manager ON manager.id = pl_cc.customer_manager		
	</sql>
	
	<!-- 待处理 基本的sql查询字段-->
	<sql id="undoneBaseOritoConfirmationSelectSql">
		<include refid="baseOritoConfirmationTaskSelectSql" />
		,task.CREATE_TIME_ as startTime
	</sql>
	
	<!-- 已处理 基本的sql查询字段-->
	<sql id="doneBaseOritoConfirmationSelectSql">
		<include refid="baseOritoConfirmationTaskSelectSql" />
		,task.START_TIME_ as startTime
		,task.END_TIME_ as endTime
	</sql>
	
	<!--基本的动态过滤sql-->
	<sql id="baseOritoConfirmationDynamicQuerySql">
		<where>
			
			<if test="projectCode !='' and projectCode !=null">
				and project.code like concat('%',#{projectCode}, '%')
	        </if>
	        <if test="projectName !='' and projectName !=null">
	            and project.project_name like concat('%',#{projectName}, '%')
	        </if>
	        <if test="customerName !='' and customerName !=null">
	            and pl_cc.name like concat('%',#{customerName}, '%')
	        </if>	       
	        <if test="currentProcessStateCode !='' and currentProcessStateCode !=null">
	            and pl_cc.`STATUS` = #{currentProcessStateCode}
	        </if>	   
	         <if test="taskDefinition !='' and taskDefinition !=null">
	                AND task.TASK_DEF_KEY_ = #{taskDefinition}
	        </if>	   
	         <if test="isCompleted == true ">
	                AND task.END_TIME_ is not null
	        </if>
	        <if test="userName !=null or roleId !=null or coverdOffices != null" >
		         and ((
			        <if test="userName !='' and userName !=null">
			                 task.ASSIGNEE_ = #{userName}
			        </if>
			        <if test="roleId !='' and roleId !=null">
			                AND r.id = #{roleId}
			        </if>
		        	)
		            or assignee.office_id IN
			        <foreach item="coverdOffices" collection="coverdOffices" open="(" separator="," close=")">
				        ${coverdOffices}
				 	</foreach>
			 	)
			 </if>
		</where>
	</sql>
	
		<!--列表模糊查询sql-->
	<sql id="listQuerySql6">
		<where>			
			<if test="projectCode !='' and projectCode !=null">
				and consult.projectCode like concat('%',#{projectCode}, '%')
	        </if>	      
	        <if test="customerName !='' and customerName !=null">
	            and consult.customerName like concat('%',#{customerName}, '%')
	        </if>
	        <if test="customerManager !='' and customerManager !=null">
	            and consult.customerManager like concat('%',#{customerManager}, '%')
	        </if>	
	        <if test="flowStatus != '' and flowStatus != null">
	           and consult.currentProcessItemCode = #{flowStatus}
	        </if>      
	        
	        
	        	        <!--增加查询条件  -->
	        <if test="businessOriginText !='' and businessOriginText !=null">
				and businessOriginText = #{businessOriginText}
			</if>
			<if test="institutionName !='' and institutionName !=null">
				and institutionName like concat('%',#{institutionName}, '%')
			</if>			
			<if test="declarationStartDate !=null and declarationStartDate != ''">
				<![CDATA[
				and DATE_FORMAT(declarationDate,'%Y-%m-%d') >= DATE_FORMAT(#{declarationStartDate},'%Y-%m-%d')
				]]>
			</if>
			<if test="declarationEndDate !=null and declarationEndDate != ''">
				<![CDATA[
				and DATE_FORMAT(declarationDate,'%Y-%m-%d') <= DATE_FORMAT(#{declarationEndDate},'%Y-%m-%d')
				]]>
			</if> 
		</where>
	</sql>
	
	<select id="queryUndoOritoConfirmationTasks" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from(
		select
			<include refid="undoneBaseOritoConfirmationSelectSql"/>
		    ,CASE
            plpc.type 
            WHEN 'back' 
            THEN '驳回' 
            WHEN 'backCheckBank'
            THEN '驳回'           
            ELSE '正常'	         
        END dataType/*数据类型*/ 	
		from
			ACT_RU_TASK task
		<include refid="baseOritoConfirmationJoinSql"/>
		left join pub_loanprocess plpc on plpc.new_task_id = task.ID_
		<include refid="baseOritoConfirmationDynamicQuerySql"/>
		order by task.CREATE_TIME_ desc) consult
		<include refid="listQuerySql6"/>
		order by consult.startTime ASC
	</select>
	
	<select id="queryDoneOritoConfirmationTasks" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from(
		select
			<include refid="doneBaseOritoConfirmationSelectSql"/>
			,suser.name as nextAssignee
		from
			ACT_HI_TASKINST task
		<include refid="baseOritoConfirmationJoinSql"/>
		left join pub_loanprocess pub on pub.task_id = task.ID_
		left join sys_user suser on suser.user_name = pub.next_assignee
		
		<include refid="baseOritoConfirmationDynamicQuerySql"/>
		
		<!-- 商务专员不能看到已结清单子 -->
		<if test="roleNid != null and roleNid == 'customerServiceStaffB' ">
			and project.id not in (select projectId from pub_repayloaninfo where repayment_status = 1)
		</if>
		
		order by task.END_TIME_ desc) consult
		<include refid="listQuerySql6"/>
		order by consult.endTime DESC
	</select>

</mapper>
