<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.modules.repay.dao.RpAheadRepaySettingDao" >

    <resultMap id="BaseResultMap" type="com.company.modules.repay.domain.RpAheadRepaySetting" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="repay_setting_id" property="repaySettingId" jdbcType="INTEGER" />
        <result column="can_ahead_repay" property="canAheadRepay" jdbcType="BIT" />
        <result column="ahead_repay_type" property="aheadRepayType" jdbcType="VARCHAR" />
        <result column="protect_term" property="protectTerm" jdbcType="INTEGER" />
        <result column="penalty_interest_type" property="penaltyInterestType" jdbcType="VARCHAR" />
        <result column="penalty_interest_rate" property="penaltyInterestRate" jdbcType="DOUBLE" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, repay_setting_id, can_ahead_repay, ahead_repay_type, protect_term, penalty_interest_type, 
        penalty_interest_rate
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from rp_ahead_repay_setting
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from rp_ahead_repay_setting
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.company.modules.repay.domain.RpAheadRepaySetting" >
        insert into rp_ahead_repay_setting (id, repay_setting_id, can_ahead_repay, 
            ahead_repay_type, protect_term, penalty_interest_type, 
            penalty_interest_rate)
        values (#{id,jdbcType=INTEGER}, #{repaySettingId,jdbcType=INTEGER}, #{canAheadRepay,jdbcType=BIT}, 
            #{aheadRepayType,jdbcType=VARCHAR}, #{protectTerm,jdbcType=INTEGER}, #{penaltyInterestType,jdbcType=VARCHAR}, 
            #{penaltyInterestRate,jdbcType=DOUBLE})
    </insert>

    <insert id="insertSelective" parameterType="com.company.modules.repay.domain.RpAheadRepaySetting" >
        insert into rp_ahead_repay_setting
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="repaySettingId != null" >
                repay_setting_id,
            </if>
            <if test="canAheadRepay != null" >
                can_ahead_repay,
            </if>
            <if test="aheadRepayType != null" >
                ahead_repay_type,
            </if>
            <if test="protectTerm != null" >
                protect_term,
            </if>
            <if test="penaltyInterestType != null" >
                penalty_interest_type,
            </if>
            <if test="penaltyInterestRate != null" >
                penalty_interest_rate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="repaySettingId != null" >
                #{repaySettingId,jdbcType=INTEGER},
            </if>
            <if test="canAheadRepay != null" >
                #{canAheadRepay,jdbcType=BIT},
            </if>
            <if test="aheadRepayType != null" >
                #{aheadRepayType,jdbcType=VARCHAR},
            </if>
            <if test="protectTerm != null" >
                #{protectTerm,jdbcType=INTEGER},
            </if>
            <if test="penaltyInterestType != null" >
                #{penaltyInterestType,jdbcType=VARCHAR},
            </if>
            <if test="penaltyInterestRate != null" >
                #{penaltyInterestRate,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.company.modules.repay.domain.RpAheadRepaySetting" >
        update rp_ahead_repay_setting
        <set >
            <if test="repaySettingId != null" >
                repay_setting_id = #{repaySettingId,jdbcType=INTEGER},
            </if>
            <if test="canAheadRepay != null" >
                can_ahead_repay = #{canAheadRepay,jdbcType=BIT},
            </if>
            <if test="aheadRepayType != null" >
                ahead_repay_type = #{aheadRepayType,jdbcType=VARCHAR},
            </if>
            <if test="protectTerm != null" >
                protect_term = #{protectTerm,jdbcType=INTEGER},
            </if>
            <if test="penaltyInterestType != null" >
                penalty_interest_type = #{penaltyInterestType,jdbcType=VARCHAR},
            </if>
            <if test="penaltyInterestRate != null" >
                penalty_interest_rate = #{penaltyInterestRate,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.company.modules.repay.domain.RpAheadRepaySetting" >
        update rp_ahead_repay_setting
        set repay_setting_id = #{repaySettingId,jdbcType=INTEGER},
            can_ahead_repay = #{canAheadRepay,jdbcType=BIT},
            ahead_repay_type = #{aheadRepayType,jdbcType=VARCHAR},
            protect_term = #{protectTerm,jdbcType=INTEGER},
            penalty_interest_type = #{penaltyInterestType,jdbcType=VARCHAR},
            penalty_interest_rate = #{penaltyInterestRate,jdbcType=DOUBLE}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>