<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- hous_property_information表:房产信息模块 -->
<mapper namespace="com.company.modules.instance.dao.HousPropertyInformationDao">
	<!--返回MAP-->		
	<resultMap id="HousPropertyInformationResult" type="HousPropertyInformation">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
		<result column="is_delete" property="isDelete" />
		<result column="consult_id" property="consultId" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="project_id" property="projectId" />
		<result column="property_address_id" property="propertyAddressId" />
		<result column="property_address" property="propertyAddress" />
		<result column="property_area" property="propertyArea" />
		<result column="property_properties" property="propertyProperties" />
		<result column="property_situation" property="propertySituation" />
		<result column="whether_one_contact" property="whetherOneContact" />
		<result column="against_one_mortgagee" property="againstOneMortgagee" />
		<result column="against_one_amount" property="againstOneAmount" />
		<result column="whether_two_contact" property="whetherTwoContact" />
		<result column="against_two_mortgagee" property="againstTwoMortgagee" />
		<result column="against_two_amount" property="againstTwoAmount" />
		<result column="house_number" property="houseNumber" />
		<result column="mortgage_situation" property="mortgageSituation" />
		<result column="planning_purposes" property="planningPurposes" />
		<result column="key_disk_query" property="keyDiskQuery" />
		<result column="remark_one" property="remarkOne" />
		<result column="remark_two" property="remarkTwo" />
	</resultMap>
	
	<!--基本的sql查询字段 公共引用...-->
	<sql id="searchSql">
			id,
			creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	property_address_id,
        	property_address,
        	property_area,
        	property_properties,
        	property_situation,
        	whether_one_contact,
        	against_one_mortgagee,
        	against_one_amount,
        	whether_two_contact,
        	against_two_mortgagee,
        	against_two_amount,
        	house_number,
        	mortgage_situation,
        	planning_purposes,
        	key_disk_query,
        	remark_one,
        	remark_two			
	</sql>
	
	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id !='' and id !=null">
                id  = #{id}
            </if>
            <if test="creator !='' and creator !=null">
            	and creator = #{creator}
            </if>
            <if test="createTime !='' and createTime !=null">
            	and create_time = #{createTime}
            </if>
            <if test="modifier !='' and modifier !=null">
            	and modifier = #{modifier}
            </if>
            <if test="modifyTime !='' and modifyTime !=null">
            	and modify_time = #{modifyTime}
            </if>
           <if test="isDelete!= null and isDelete != ''">		
	    		is_delete = #{isDelete},		
	    	</if>
            <if test="consultId !='' and consultId !=null">
            	and consult_id = #{consultId}
            </if>
            <if test="processInstanceId !='' and processInstanceId !=null">
            	and process_instance_id = #{processInstanceId}
            </if>
            <if test="projectId !='' and projectId !=null">
            	and project_id = #{projectId}
            </if>
            <if test="propertyAddressId !='' and propertyAddressId !=null">
            	and property_address_id = #{propertyAddressId}
            </if>
            <if test="propertyAddress !='' and propertyAddress !=null">
            	and property_address = #{propertyAddress}
            </if>
            <if test="propertyArea !='' and propertyArea !=null">
            	and property_area = #{propertyArea}
            </if>
            <if test="propertyProperties !='' and propertyProperties !=null">
            	and property_properties = #{propertyProperties}
            </if>
            <if test="propertySituation !='' and propertySituation !=null">
            	and property_situation = #{propertySituation}
            </if>
            <if test="whetherOneContact !='' and whetherOneContact !=null">
            	and whether_one_contact = #{whetherOneContact}
            </if>
            <if test="againstOneMortgagee !='' and againstOneMortgagee !=null">
            	and against_one_mortgagee = #{againstOneMortgagee}
            </if>
            <if test="againstOneAmount !='' and againstOneAmount !=null">
            	and against_one_amount = #{againstOneAmount}
            </if>
            <if test="whetherTwoContact !='' and whetherTwoContact !=null">
            	and whether_two_contact = #{whetherTwoContact}
            </if>
            <if test="againstTwoMortgagee !='' and againstTwoMortgagee !=null">
            	and against_two_mortgagee = #{againstTwoMortgagee}
            </if>
            <if test="againstTwoAmount !='' and againstTwoAmount !=null">
            	and against_two_amount = #{againstTwoAmount}
            </if>
            <if test="houseNumber !='' and houseNumber !=null">
            	and house_number = #{houseNumber}
            </if>
            <if test="mortgageSituation !='' and mortgageSituation !=null">
            	and mortgage_situation = #{mortgageSituation}
            </if>
            <if test="keyDiskQuery !='' and keyDiskQuery !=null">
            	and key_disk_query = #{keyDiskQuery}
            </if>
		</trim>
	</sql>
	
	<!-- 动态更新 -->
    <sql id="updateByPo">
       	<trim prefix="set" suffixOverrides=",">
	    	<if test="modifier!= null">		
	    		modifier = #{modifier},		
	    	</if>
	    	<if test="modifyTime!= null">		
	    		modify_time = #{modifyTime},		
	    	</if>
	    	<if test="isDelete!= null">		
	    		is_delete = #{isDelete},		
	    	</if>
	    	<if test="consultId!= null">		
	    		consult_id = #{consultId},		
	    	</if>
	    	<if test="processInstanceId!= null">		
	    		process_instance_id = #{processInstanceId},		
	    	</if>
	    	<if test="projectId!= null">		
	    		project_id = #{projectId},		
	    	</if>
	    	<if test="propertyAddressId!= null">		
	    		property_address_id = #{propertyAddressId},		
	    	</if>
	    	<if test="propertyAddress!= null">		
	    		property_address = #{propertyAddress},		
	    	</if>
	    	<if test="propertyArea!= null">		
	    		property_area = #{propertyArea},		
	    	</if>
	    	<if test="propertyProperties!= null">		
	    		property_properties = #{propertyProperties},		
	    	</if>
	    	<if test="propertySituation!= null">		
	    		property_situation = #{propertySituation},		
	    	</if>
	    	<if test="whetherOneContact!= null">		
	    		whether_one_contact = #{whetherOneContact},		
	    	</if>
	    	<if test="againstOneMortgagee!= null">		
	    		against_one_mortgagee = #{againstOneMortgagee},		
	    	</if>
	    	<if test="againstOneAmount!= null">		
	    		against_one_amount = #{againstOneAmount},		
	    	</if>
	    	<if test="whetherTwoContact!= null">		
	    		whether_two_contact = #{whetherTwoContact},		
	    	</if>
	    	<if test="againstTwoMortgagee!= null">		
	    		against_two_mortgagee = #{againstTwoMortgagee},		
	    	</if>
	    	<if test="againstTwoAmount!= null">		
	    		against_two_amount = #{againstTwoAmount},		
	    	</if>
	    	 <if test="houseNumber !=null">
            	house_number = #{houseNumber},
            </if>
	    	 <if test="mortgageSituation !=null">
            	mortgage_situation = #{mortgageSituation},
            </if>
             <if test="planningPurposes !=null">
            	planning_purposes = #{planningPurposes},
            </if>
	    	 <if test="keyDiskQuery !=null">
            	key_disk_query = #{keyDiskQuery},
            </if>
             <if test="remarkOne !=null">
            	remark_one = #{remarkOne},
            </if>
             <if test="remarkTwo !=null">
            	remark_two = #{remarkTwo},
            </if>
	    </trim>
    </sql>
	
	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="HousPropertyInformation">
		insert into hous_property_information(
        	creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	property_address_id,
        	property_address,
        	property_area,
        	property_properties,
        	property_situation,
        	whether_one_contact,
        	against_one_mortgagee,
        	against_one_amount,
        	whether_two_contact,
        	against_two_mortgagee,
        	against_two_amount,
        	house_number,
        	mortgage_situation,
        	planning_purposes,
        	key_disk_query,
        	remark_one,
        	remark_two			
        )values(
        	#{creator},
        	#{createTime},
        	#{modifier},
        	#{modifyTime},
        	#{isDelete},
        	#{consultId},
        	#{processInstanceId},
        	#{projectId},
        	#{propertyAddressId},
        	#{propertyAddress},
        	#{propertyArea},
        	#{propertyProperties},
        	#{propertySituation},
        	#{whetherOneContact},
        	#{againstOneMortgagee},
        	#{againstOneAmount},
        	#{whetherTwoContact},
        	#{againstTwoMortgagee},
        	#{againstTwoAmount},
        	#{houseNumber},
        	#{mortgageSituation},
        	#{planningPurposes},
        	#{keyDiskQuery},	
        	#{remarkOne},
        	#{remarkTwo}
        )
     <!-- 重新返回给实体类,插入的id值 -->
     <selectKey resultType="long" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	 </selectKey>
	 </insert>
	
    <!-- 动态更新 -->
    <update id="update" parameterType="HousPropertyInformation">
        update hous_property_information
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

	<!--根据id查询-->
	<select id="getItemInfoById" resultMap="HousPropertyInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_property_information
		where id = #{id}	
	</select>
	
	<!--根据流程id查询-->
	<select id="getItemInfoByProcessInstanceId" resultMap="HousPropertyInformationResult" parameterType="java.lang.String" >
		select 
		<include refid="searchSql"/>
		from hous_property_information
		where process_instance_id = #{processInstanceId}	
	</select>
	
	<!--分页列表查询-->
	<select id="getPageListByMap" resultMap="HousPropertyInformationResult" parameterType="java.util.HashMap" >
		select 
		<include refid="searchSql"/>
		from hous_property_information
		<include refid="searchByPo"/>	
		order by id desc
	</select>

    <!--根据ID删除-->
    <delete id="deleteById">
        delete from hous_property_information
        where
        id  = #{id}
    </delete>
    
    <select id="getItemInfoByConsultId" resultMap="HousPropertyInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_property_information
		where consult_id = #{consultId}
	</select>
	
	<!-- 省市区查询 -->
	<select id="getHousAddress" resultType="String" parameterType="long" >
		SELECT
			CONCAT(t3.name1,t3.name2,t4.rd_areaname) housAddress
		FROM
			(
				SELECT
					t1.id code1,
					t1.rd_areaname name1,
					t1.rd_pareaid parentcode1,
					t2.id code2,
					t2.rd_areaname name2,
					t2.rd_pareaid parentcode2
				FROM
					pl_area t1
				LEFT JOIN pl_area t2 ON t1.id = t2.rd_pareaid
				WHERE
					t1.rd_pareaid = 0
			) t3
		LEFT JOIN pl_area t4 ON t3.code2 = t4.rd_pareaid
		where t4.id = #{propertyAddressId};
	</select>
</mapper>