<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- hous_marriage_information表:婚姻信息表(面审)模块 -->
<mapper namespace="com.company.modules.audit.dao.HousMarriageInformationDao">
	<!--返回MAP-->		
	<resultMap id="HousMarriageInformationResult" type="HousMarriageInformation">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
		<result column="is_delete" property="isDelete" />
		<result column="consult_id" property="consultId" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="project_id" property="projectId" />
		<result column="marital_status" property="maritalStatus" />
		<result column="documents_time" property="documentsTime" />
		<result column="divorce_agreement" property="divorceAgreement" />
		<result column="court_verdict" property="courtVerdict" />
		<result column="room_time" property="roomTime" />
	</resultMap>
	
	<!--基本的sql查询字段 公共引用...-->
	<sql id="searchSql">
			id,
			creator,
			create_time,
			modifier,
			modify_time,
			is_delete,
			consult_id,
			process_instance_id,
			project_id,
			marital_status,
			documents_time,
			divorce_agreement,
			court_verdict,
			room_time			
	</sql>
	
	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id !='' and id !=null">
                id  = #{id}
            </if>
            <if test="creator !='' and creator !=null">
            	and creator = #{creator}
            </if>
            <if test="createTime !='' and createTime !=null">
            	and create_time = #{createTime}
            </if>
            <if test="modifier !='' and modifier !=null">
            	and modifier = #{modifier}
            </if>
            <if test="modifyTime !='' and modifyTime !=null">
            	and modify_time = #{modifyTime}
            </if>
            <if test="isDelete !='' and isDelete !=null">
            	and is_delete = #{isDelete}
            </if>
            <if test="consultId !='' and consultId !=null">
            	and consult_id = #{consultId}
            </if>
            <if test="processInstanceId !='' and processInstanceId !=null">
            	and process_instance_id = #{processInstanceId}
            </if>
            <if test="projectId !='' and projectId !=null">
            	and project_id = #{projectId}
            </if>
            <if test="maritalStatus !='' and maritalStatus !=null">
            	and marital_status = #{maritalStatus}
            </if>
            <if test="documentsTime !='' and documentsTime !=null">
            	and documents_time = #{documentsTime}
            </if>
            <if test="divorceAgreement !='' and divorceAgreement !=null">
            	and divorce_agreement = #{divorceAgreement}
            </if>
            <if test="courtVerdict !='' and courtVerdict !=null">
            	and court_verdict = #{courtVerdict}
            </if>
            <if test="roomTime !='' and roomTime !=null">
            	and room_time = #{roomTime}
            </if>
		</trim>
	</sql>
	
	<!-- 动态更新 -->
    <sql id="updateByPo">
       	<trim prefix="set" suffixOverrides=",">
	    	<if test="modifier!= null">		
	    		modifier = #{modifier},		
	    	</if>
	    	<if test="modifyTime!= null">		
	    		modify_time = #{modifyTime},		
	    	</if>
	    	<if test="isDelete!= null">		
	    		is_delete = #{isDelete},		
	    	</if>
	    	<if test="consultId!= null">		
	    		consult_id = #{consultId},		
	    	</if>
	    	<if test="processInstanceId!= null">		
	    		process_instance_id = #{processInstanceId},		
	    	</if>
	    	<if test="projectId!= null">		
	    		project_id = #{projectId},		
	    	</if>
	    	<if test="maritalStatus!= null">		
	    		marital_status = #{maritalStatus},		
	    	</if>
	    	<if test="documentsTime!= null">		
	    		documents_time = #{documentsTime},		
	    	</if>
	    	<if test="divorceAgreement!= null">		
	    		divorce_agreement = #{divorceAgreement},		
	    	</if>
	    	<if test="courtVerdict!= null">		
	    		court_verdict = #{courtVerdict},		
	    	</if>
	    	<if test="roomTime!= null">		
	    		room_time = #{roomTime},		
	    	</if>
	    </trim>
    </sql>
	
	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="HousMarriageInformation">
		insert into hous_marriage_information(
        	creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	marital_status,
        	documents_time,
        	divorce_agreement,
        	court_verdict,
        	room_time			
        )values(
        	#{creator},
        	#{createTime},
        	#{modifier},
        	#{modifyTime},
        	#{isDelete},
        	#{consultId},
        	#{processInstanceId},
        	#{projectId},
        	#{maritalStatus},
        	#{documentsTime},
        	#{divorceAgreement},
        	#{courtVerdict},
        	#{roomTime}			
        )
     <!-- 重新返回给实体类,插入的id值 -->
     <selectKey resultType="long" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	 </selectKey>
	 </insert>
	
    <!-- 动态更新 -->
    <update id="update" parameterType="HousMarriageInformation">
        update hous_marriage_information
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

	<!--根据id查询-->
	<select id="getItemInfoById" resultMap="HousMarriageInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_marriage_information
		where id = #{id}	
	</select>
	
	<!--根据流程id查询-->
	<select id="getItemInfoByProcessInstanceId" resultMap="HousMarriageInformationResult" parameterType="java.lang.String" >
		select 
		<include refid="searchSql"/>
		from hous_marriage_information
		where process_instance_id = #{processInstanceId}	
	</select>
	
	<!--分页列表查询-->
	<select id="getPageListByMap" resultMap="HousMarriageInformationResult" parameterType="java.util.HashMap" >
		select 
		<include refid="searchSql"/>
		from hous_marriage_information
		<include refid="searchByPo"/>	
		order by id desc
	</select>

    <!--根据ID删除-->
    <delete id="deleteById">
        delete from hous_marriage_information
        where
        id  = #{id}
    </delete>
</mapper>