<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- hous_orito_information表:借款基本信息模块 -->
<mapper namespace="com.company.modules.warrant.dao.HousOritoInformationDao">
	<!--返回MAP-->		
	<resultMap id="HousOritoInformationResult" type="HousOritoInformation">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
		<result column="is_delete" property="isDelete" />
		<result column="consult_id" property="consultId" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="project_id" property="projectId" />
		<result column="property_address_id" property="propertyAddressId" />
		<result column="property_address" property="propertyAddress" />
		<result column="community_name" property="communityName" />
		<result column="building_brands" property="buildingBrands" />
		<result column="living_people" property="livingPeople" />
		<result column="furnishing_status" property="furnishingStatus" />
		<result column="room" property="room" />
		<result column="hall" property="hall" />
		<result column="guard" property="guard" />
		<result column="floor" property="floor" />
		<result column="total_floors" property="totalFloors" />
		<result column="housing_orientation" property="housingOrientation" />
		<result column="living_conditions" property="livingConditions" />
		<result column="purchasing_power" property="purchasingPower" />
		<result column="investigator" property="investigator" />
		<result column="survey_time" property="surveyTime" />
		<result column="remark" property="remark" />	
	</resultMap>
	
	<!--基本的sql查询字段 公共引用...-->
	<sql id="searchSql">
			id,
			creator,
			create_time,
			modifier,
			modify_time,
			is_delete,
			consult_id,
			process_instance_id,
			project_id,
			property_address_id,
			property_address,
			community_name,
			building_brands,
			living_people,
			furnishing_status,
			room,
			hall,
			guard,
			floor,
			total_floors,
			housing_orientation,
			living_conditions,
			purchasing_power,
			investigator,
			survey_time,
			remark					
	</sql>
	
	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id !='' and id !=null">
                id  = #{id}
            </if>
            <if test="creator !='' and creator !=null">
            	and creator = #{creator}
            </if>
            <if test="createTime !='' and createTime !=null">
            	and create_time = #{createTime}
            </if>
            <if test="modifier !='' and modifier !=null">
            	and modifier = #{modifier}
            </if>
            <if test="modifyTime !='' and modifyTime !=null">
            	and modify_time = #{modifyTime}
            </if>
            <if test="isDelete !='' and isDelete !=null">
            	and is_delete = #{isDelete}
            </if>
            <if test="consultId !='' and consultId !=null">
            	and consult_id = #{consultId}
            </if>
            <if test="processInstanceId !='' and processInstanceId !=null">
            	and process_instance_id = #{processInstanceId}
            </if>
            <if test="projectId !='' and projectId !=null">
            	and project_id = #{projectId}
            </if>
            <if test="propertyAddressId !='' and propertyAddressId !=null">
            	and property_address_id = #{propertyAddressId}
            </if>
            <if test="propertyAddress !='' and propertyAddress !=null">
            	and property_address = #{propertyAddress}
            </if>
            <if test="communityName !='' and communityName !=null">
            	and community_name = #{communityName}
            </if>
            <if test="buildingBrands !='' and buildingBrands !=null">
            	and building_brands = #{buildingBrands}
            </if>
            <if test="livingPeople !='' and livingPeople !=null">
            	and living_people = #{livingPeople}
            </if>
            <if test="furnishingStatus !='' and furnishingStatus !=null">
            	and furnishing_status = #{furnishingStatus}
            </if>
            <if test="room !='' and room !=null">
            	and room = #{room}
            </if>
            <if test="hall !='' and hall !=null">
            	and hall = #{hall}
            </if>
            <if test="guard !='' and guard !=null">
            	and guard = #{guard}
            </if>
            <if test="floor !='' and floor !=null">
            	and floor = #{floor}
            </if>
            <if test="totalFloors !='' and totalFloors !=null">
            	and total_floors = #{totalFloors}
            </if>
            <if test="housingOrientation !='' and housingOrientation !=null">
            	and housing_orientation = #{housingOrientation}
            </if>
            <if test="livingConditions !='' and livingConditions !=null">
            	and living_conditions = #{livingConditions}
            </if>
            <if test="purchasingPower !='' and purchasingPower !=null">
            	and purchasing_power = #{purchasingPower}
            </if>
            <if test="investigator !='' and investigator !=null">
            	and investigator = #{investigator}
            </if>
            <if test="surveyTime !='' and surveyTime !=null">
            	and survey_time = #{surveyTime}
            </if>
		</trim>
	</sql>
	
	<!-- 动态更新 -->
    <sql id="updateByPo">
       	<trim prefix="set" suffixOverrides=",">
	    	<if test="modifier!= null">		
	    		modifier = #{modifier},		
	    	</if>
	    	<if test="modifyTime!= null">		
	    		modify_time = #{modifyTime},		
	    	</if>
	    	<if test="isDelete!= null">		
	    		is_delete = #{isDelete},		
	    	</if>
	    	<if test="consultId!= null">		
	    		consult_id = #{consultId},		
	    	</if>
	    	<if test="processInstanceId!= null">		
	    		process_instance_id = #{processInstanceId},		
	    	</if>
	    	<if test="projectId!= null">		
	    		project_id = #{projectId},		
	    	</if>
	    	<if test="propertyAddressId!= null">		
	    		property_address_id = #{propertyAddressId},		
	    	</if>
	    	<if test="propertyAddress!= null">		
	    		property_address = #{propertyAddress},		
	    	</if>
	    	<if test="communityName!= null">		
	    		community_name = #{communityName},		
	    	</if>
	    	<if test="buildingBrands!= null">		
	    		building_brands = #{buildingBrands},		
	    	</if>
	    	<if test="livingPeople!= null">		
	    		living_people = #{livingPeople},		
	    	</if>
	    	<if test="furnishingStatus!= null">		
	    		furnishing_status = #{furnishingStatus},		
	    	</if>
	    	<if test="room!= null">		
	    		room = #{room},		
	    	</if>
	    	<if test="hall!= null">		
	    		hall = #{hall},		
	    	</if>
	    	<if test="guard!= null">		
	    		guard = #{guard},		
	    	</if>
	    	<if test="floor!= null">		
	    		floor = #{floor},		
	    	</if>
	    	<if test="totalFloors!= null">		
	    		total_floors = #{totalFloors},		
	    	</if>
	    	<if test="housingOrientation!= null">		
	    		housing_orientation = #{housingOrientation},		
	    	</if>
	    	<if test="livingConditions!= null">		
	    		living_conditions = #{livingConditions},		
	    	</if>
	    	<if test="purchasingPower!= null">		
	    		purchasing_power = #{purchasingPower},		
	    	</if>
	    	<if test="investigator!= null">		
	    		investigator = #{investigator},		
	    	</if>
	    	<if test="surveyTime!= null">		
	    		survey_time = #{surveyTime},		
	    	</if>
	    	<if test="remark!= null">		
	    		remark = #{remark},		
	    	</if>	    	
	    </trim>
    </sql>
	
	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="HousOritoInformation">
		insert into hous_orito_information(
        	creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	property_address_id,
        	property_address,
        	community_name,
        	building_brands,
        	living_people,
        	furnishing_status,
        	room,
        	hall,
        	guard,
        	floor,
        	total_floors,
        	housing_orientation,
        	living_conditions,
        	purchasing_power,
        	investigator,
        	survey_time,
        	remark        		
        )values(
        	#{creator},
        	#{createTime},
        	#{modifier},
        	#{modifyTime},
        	#{isDelete},
        	#{consultId},
        	#{processInstanceId},
        	#{projectId},
        	#{propertyAddressId},
        	#{propertyAddress},
        	#{communityName},
        	#{buildingBrands},
        	#{livingPeople},
        	#{furnishingStatus},
        	#{room},
        	#{hall},
        	#{guard},
        	#{floor},
        	#{totalFloors},
        	#{housingOrientation},
        	#{livingConditions},
        	#{purchasingPower},
        	#{investigator},
        	#{surveyTime},
        	#{remark}       	
        )
     <!-- 重新返回给实体类,插入的id值 -->
     <selectKey resultType="long" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	 </selectKey>
	 </insert>
	
    <!-- 动态更新 -->
    <update id="update" parameterType="HousOritoInformation">
        update hous_orito_information
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

	<!--根据id查询-->
	<select id="getItemInfoById" resultMap="HousOritoInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_orito_information
		where id = #{id}	
	</select>
	
	<!--根据流程id查询-->
	<select id="getItemInfoByProcessInstanceId" resultMap="HousOritoInformationResult" parameterType="java.lang.String" >
		select 
		<include refid="searchSql"/>
		from hous_orito_information
		where process_instance_id = #{processInstanceId}	
	</select>
	
	<!--分页列表查询-->
	<select id="getPageListByMap" resultMap="HousOritoInformationResult" parameterType="java.util.HashMap" >
		select 
		<include refid="searchSql"/>
		from hous_orito_information
		<include refid="searchByPo"/>	
		order by id desc
	</select>

    <!--根据ID删除-->
    <delete id="deleteById">
        delete from hous_orito_information
        where
        id  = #{id}
    </delete>
</mapper>