<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- hous_intermediary_information表:房屋中介信息(权证下户)模块 -->
<mapper namespace="com.company.modules.warrant.dao.HousIntermediaryInformationDao">
	<!--返回MAP-->		
	<resultMap id="HousIntermediaryInformationResult" type="HousIntermediaryInformation">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
		<result column="is_delete" property="isDelete" />
		<result column="consult_id" property="consultId" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="project_id" property="projectId" />
		<result column="door_name" property="doorName" />
		<result column="principal_name" property="principalName" />
		<result column="principal_phone" property="principalPhone" />
		<result column="tax_details" property="taxDetails" />
		<result column="normal_price" property="normalPrice" />
		<result column="remark" property="remark" />
		<result column="school" property="school" />
		<result column="hospital" property="hospital" />
		<result column="shopping" property="shopping" />
		<result column="fast_transaction_price" property="fastTransactionPrice" />
	</resultMap>
	
	<!--基本的sql查询字段 公共引用...-->
	<sql id="searchSql">
			id,
			creator,
			create_time,
			modifier,
			modify_time,
			is_delete,
			consult_id,
			process_instance_id,
			project_id,
			door_name,
			principal_name,
			principal_phone,
			tax_details,
			normal_price,
			remark,
			school,
			hospital,
			shopping,
			housing_value_faster,
			fast_transaction_price			
	</sql>
	
	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id !='' and id !=null">
                id  = #{id}
            </if>
            <if test="creator !='' and creator !=null">
            	and creator = #{creator}
            </if>
            <if test="createTime !='' and createTime !=null">
            	and create_time = #{createTime}
            </if>
            <if test="modifier !='' and modifier !=null">
            	and modifier = #{modifier}
            </if>
            <if test="modifyTime !='' and modifyTime !=null">
            	and modify_time = #{modifyTime}
            </if>
            <if test="isDelete !='' and isDelete !=null">
            	and is_delete = #{isDelete}
            </if>
            <if test="consultId !='' and consultId !=null">
            	and consult_id = #{consultId}
            </if>
            <if test="processInstanceId !='' and processInstanceId !=null">
            	and process_instance_id = #{processInstanceId}
            </if>
            <if test="projectId !='' and projectId !=null">
            	and project_id = #{projectId}
            </if>
            <if test="doorName !='' and doorName !=null">
            	and door_name = #{doorName}
            </if>
            <if test="principalName !='' and principalName !=null">
            	and principal_name = #{principalName}
            </if>
            <if test="principalPhone !='' and principalPhone !=null">
            	and principal_phone = #{principalPhone}
            </if>
            <if test="taxDetails !='' and taxDetails !=null">
            	and tax_details = #{taxDetails}
            </if>
            <if test="normalPrice !='' and normalPrice !=null">
            	and normal_price = #{normalPrice}
            </if>
            <if test="fastTransactionPrice !='' and fastTransactionPrice !=null">
            	and fast_transaction_price = #{fastTransactionPrice}
            </if>
            <if test="school !='' and school !=null">
            	and school = #{school}
            </if>
            <if test="hospital !='' and hospital !=null">
            	and hospital = #{hospital}
            </if>
            <if test="shopping !='' and shopping !=null">
            	and shopping = #{shopping}
            </if>
             <if test="housingValueFaster !='' and housingValueFaster !=null">
            	and housing_value_faster = #{housingValueFaster}
            </if>
		</trim>
	</sql>
	
	<!-- 动态更新 -->
    <sql id="updateByPo">
       	<trim prefix="set" suffixOverrides=",">
	    	<if test="modifier!= null">		
	    		modifier = #{modifier},		
	    	</if>
	    	<if test="modifyTime!= null">		
	    		modify_time = #{modifyTime},		
	    	</if>
	    	<if test="isDelete!= null">		
	    		is_delete = #{isDelete},		
	    	</if>
	    	<if test="consultId!= null">		
	    		consult_id = #{consultId},		
	    	</if>
	    	<if test="processInstanceId!= null">		
	    		process_instance_id = #{processInstanceId},		
	    	</if>
	    	<if test="projectId!= null">		
	    		project_id = #{projectId},		
	    	</if>
	    	<if test="doorName!= null">		
	    		door_name = #{doorName},		
	    	</if>
	    	<if test="principalName!= null">		
	    		principal_name = #{principalName},		
	    	</if>
	    	<if test="principalPhone!= null">		
	    		principal_phone = #{principalPhone},		
	    	</if>
	    	<if test="taxDetails!= null">		
	    		tax_details = #{taxDetails},		
	    	</if>
	    	<if test="normalPrice!= null">		
	    		normal_price = #{normalPrice},		
	    	</if>
	    	<if test="fastTransactionPrice!= null">		
	    		fast_transaction_price = #{fastTransactionPrice},		
	    	</if>
	    	<if test="remark!= null">		
	    		remark = #{remark},		
	    	</if>
	    </trim>
    </sql>
	
	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="HousIntermediaryInformation">
		insert into hous_intermediary_information(
        	creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	door_name,
        	principal_name,
        	principal_phone,
        	tax_details,
        	normal_price,
        	remark,
        	school,
        	hospital,
        	shopping,
        	housing_value_faster,
        	fast_transaction_price			
        )values(
        	#{creator},
        	#{createTime},
        	#{modifier},
        	#{modifyTime},
        	#{isDelete},
        	#{consultId},
        	#{processInstanceId},
        	#{projectId},
        	#{doorName},
        	#{principalName},
        	#{principalPhone},
        	#{taxDetails},
        	#{normalPrice},
        	#{remark},
        	#{school},
        	#{hospital},
        	#{shopping},
        	#{housingValueFaster},
        	#{fastTransactionPrice}			
        )
     <!-- 重新返回给实体类,插入的id值 -->
     <selectKey resultType="long" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	 </selectKey>
	 </insert>
	
    <!-- 动态更新 -->
    <update id="update" parameterType="HousIntermediaryInformation">
        update hous_intermediary_information
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

	<!--根据id查询-->
	<select id="getItemInfoById" resultMap="HousIntermediaryInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_intermediary_information
		where id = #{id}	
	</select>
	
	<!--根据流程id查询-->
	<select id="getItemInfoByProcessInstanceId" resultMap="HousIntermediaryInformationResult" parameterType="java.lang.String" >
		select 
		<include refid="searchSql"/>
		from hous_intermediary_information
		where process_instance_id = #{processInstanceId}	
	</select>
	
	<!--分页列表查询-->
	<select id="getPageListByMap" resultMap="HousIntermediaryInformationResult" parameterType="java.util.HashMap" >
		select 
		<include refid="searchSql"/>
		from hous_intermediary_information
		<include refid="searchByPo"/>	
		order by id desc
	</select>

    <!--根据ID删除-->
    <delete id="deleteById">
        delete from hous_intermediary_information
        where
        id  = #{id}
    </delete>
</mapper>