<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- hous_quick_information表:房屋快出值信息表(权证下户)模块 -->
<mapper namespace="com.company.modules.warrant.dao.HousQuickInformationDao">
	<!--返回MAP-->		
	<resultMap id="HousQuickInformationResult" type="HousQuickInformation">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="modifier" property="modifier" />
		<result column="modify_time" property="modifyTime" />
		<result column="is_delete" property="isDelete" />
		<result column="consult_id" property="consultId" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="project_id" property="projectId" />
		<result column="school" property="school" />
		<result column="hospital" property="hospital" />
		<result column="shopping" property="shopping" />
		<result column="bank_prepayment" property="bankPrepayment" />
		<result column="housing_value_faster" property="housingValueFaster" />
		<result column="property_taxes" property="propertyTaxes" />
		<result column="bank_material" property="bankMaterial" />
		<result column="remark" property="remark" />
		<result column="balance_payment" property="balancePayment" />
		<result column="two_or_five" property="twoOrFive" />
		<result column="highest_mortgage" property="highestMortgage" />
		<result column="investigator" property="investigator" />
		<result column="survey_time" property="surveyTime" />
	</resultMap>
	
	<!--基本的sql查询字段 公共引用...-->
	<sql id="searchSql">
			id,
			creator,
			create_time,
			modifier,
			modify_time,
			is_delete,
			consult_id,
			process_instance_id,
			project_id,
			school,
			hospital,
			shopping,
			bank_prepayment,
			housing_value_faster,
			property_taxes,
			bank_material,
			remark,
			balance_payment,
			two_or_five,
			highest_mortgage,
			investigator,
			survey_time		
	</sql>
	
	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchByPo">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id !='' and id !=null">
                id  = #{id}
            </if>
            <if test="creator !='' and creator !=null">
            	and creator = #{creator}
            </if>
            <if test="createTime !='' and createTime !=null">
            	and create_time = #{createTime}
            </if>
            <if test="modifier !='' and modifier !=null">
            	and modifier = #{modifier}
            </if>
            <if test="modifyTime !='' and modifyTime !=null">
            	and modify_time = #{modifyTime}
            </if>
            <if test="isDelete !='' and isDelete !=null">
            	and is_delete = #{isDelete}
            </if>
            <if test="consultId !='' and consultId !=null">
            	and consult_id = #{consultId}
            </if>
            <if test="processInstanceId !='' and processInstanceId !=null">
            	and process_instance_id = #{processInstanceId}
            </if>
            <if test="projectId !='' and projectId !=null">
            	and project_id = #{projectId}
            </if>
            <if test="school !='' and school !=null">
            	and school = #{school}
            </if>
            <if test="hospital !='' and hospital !=null">
            	and hospital = #{hospital}
            </if>
            <if test="shopping !='' and shopping !=null">
            	and shopping = #{shopping}
            </if>
            <if test="bankPrepayment !='' and bankPrepayment !=null">
            	and bank_prepayment = #{bankPrepayment}
            </if>
            <if test="housingValueFaster !='' and housingValueFaster !=null">
            	and housing_value_faster = #{housingValueFaster}
            </if>
            <if test="propertyTaxes !='' and propertyTaxes !=null">
            	and property_taxes = #{propertyTaxes}
            </if>
            <if test="bankMaterial !='' and bankMaterial !=null">
            	and bank_material = #{bankMaterial}
            </if>
            <if test="remark !='' and remark !=null">
            	and remark = #{remark}
            </if>
            <if test="twoOrFive !='' and twoOrFive !=null">
            	and two_or_five = #{twoOrFive}
            </if>
            <if test="balancePayment !='' and balancePayment !=null">
            	and balance_payment = #{balancePayment}
            </if>
		</trim>
	</sql>
	
	<!-- 动态更新 -->
    <sql id="updateByPo">
       	<trim prefix="set" suffixOverrides=",">
	    	<if test="modifier!= null">		
	    		modifier = #{modifier},		
	    	</if>
	    	<if test="modifyTime!= null">		
	    		modify_time = #{modifyTime},		
	    	</if>
	    	<if test="isDelete!= null">		
	    		is_delete = #{isDelete},		
	    	</if>
	    	<if test="consultId!= null">		
	    		consult_id = #{consultId},		
	    	</if>
	    	<if test="processInstanceId!= null">		
	    		process_instance_id = #{processInstanceId},		
	    	</if>
	    	<if test="projectId!= null">		
	    		project_id = #{projectId},		
	    	</if>
	    	<if test="school!= null">		
	    		school = #{school},		
	    	</if>
	    	<if test="hospital!= null">		
	    		hospital = #{hospital},		
	    	</if>
	    	<if test="shopping!= null">		
	    		shopping = #{shopping},		
	    	</if>
	    	<if test="bankPrepayment!= null">		
	    		bank_prepayment = #{bankPrepayment},		
	    	</if>
	    	<if test="housingValueFaster!= null">		
	    		housing_value_faster = #{housingValueFaster},		
	    	</if>
	    	<if test="propertyTaxes!= null">		
	    		property_taxes = #{propertyTaxes},		
	    	</if>
	    	<if test="bankMaterial !='' and bankMaterial !=null">
            	bank_material = #{bankMaterial},
            </if>
            <if test="remark !='' and remark !=null">
            	remark = #{remark},
            </if>
             <if test="balancePayment !='' and balancePayment !=null">
               balance_payment = #{balancePayment},
            </if>
            <if test="twoOrFive !='' and twoOrFive !=null">
            	two_or_five = #{twoOrFive},
            </if>
            <if test="highestMortgage !='' and highestMortgage !=null">
            	highest_mortgage = #{highestMortgage},
            </if>
            <if test="investigator!= null">		
	    		investigator = #{investigator},		
	    	</if>
	    	<if test="surveyTime!= null">		
	    		survey_time = #{surveyTime},		
	    	</if>
	    </trim>
    </sql>
	
	<!-- 动态的插入,必须要创建时间 -->
	<insert id="insert" parameterType="HousQuickInformation">
		insert into hous_quick_information(
        	creator,
        	create_time,
        	modifier,
        	modify_time,
        	is_delete,
        	consult_id,
        	process_instance_id,
        	project_id,
        	school,
        	hospital,
        	shopping,
        	bank_prepayment,
        	housing_value_faster,
        	property_taxes	,
			bank_material,
			remark,
			balance_payment,
			two_or_five,
			highest_mortgage,
			investigator,
        	survey_time		
        )values(
        	#{creator},
        	#{createTime},
        	#{modifier},
        	#{modifyTime},
        	#{isDelete},
        	#{consultId},
        	#{processInstanceId},
        	#{projectId},
        	#{school},
        	#{hospital},
        	#{shopping},
        	#{bankPrepayment},
        	#{housingValueFaster},
        	#{propertyTaxes},
        	#{bankMaterial},
        	#{remark},
        	#{balancePayment},
        	#{twoOrFive},
        	#{highestMortgage},
        	#{investigator},
        	#{surveyTime}			
        )
     <!-- 重新返回给实体类,插入的id值 -->
     <selectKey resultType="long" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	 </selectKey>
	 </insert>
	
    <!-- 动态更新 -->
    <update id="update" parameterType="HousQuickInformation">
        update hous_quick_information
        <include refid="updateByPo"/>
        where id = #{id}
    </update>

	<!--根据id查询-->
	<select id="getItemInfoById" resultMap="HousQuickInformationResult" parameterType="long" >
		select 
		<include refid="searchSql"/>
		from hous_quick_information
		where id = #{id}	
	</select>
	
	<!--根据流程id查询-->
	<select id="getItemInfoByProcessInstanceId" resultMap="HousQuickInformationResult" parameterType="java.lang.String" >
		select 
		<include refid="searchSql"/>
		from hous_quick_information
		where process_instance_id = #{processInstanceId}	
	</select>
	
	<!--分页列表查询-->
	<select id="getPageListByMap" resultMap="HousQuickInformationResult" parameterType="java.util.HashMap" >
		select 
		<include refid="searchSql"/>
		from hous_quick_information
		<include refid="searchByPo"/>	
		order by id desc
	</select>

    <!--根据ID删除-->
    <delete id="deleteById">
        delete from hous_quick_information
        where
        id  = #{id}
    </delete>
</mapper>